body {
    background-image: url("arena.jpg");
}
.fase {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, 0.096);
}
.paragrafo1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, 0.171);
}
.paragrafo2 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, 0.486);
}
.paragrafo3 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, 0.486);
}
.paragrafo4 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, 0.486);
}